@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .profileCard {
    @apply w-[500px] h-[550px] bg-slate-100 bg-opacity-90 rounded-3xl flex flex-col justify-center items-center p-5 m-[20px] flex-wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .profileList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profileCard h1 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 35px;
    color: #000;
  }

  .profileCard h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
  }

  table {
    border-collapse: collapse;
    width: 75%;
    max-width: 800px;
    border-top: 5px solid black;
  }

  th,
  td {
    padding: 12px;
    text-align: center;
    border: 3px solid transparent;
  }
}

/* .profileCard {
    width: 400px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #f2f7fd;
    background-image: linear-gradient(to bottom right, #f2f7fd, #c3e9fb);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid transparent;
  } */
